
@{
    ViewBag.Title = "NuevaVenta";
}

<h2>NuevaVenta</h2>

@Html.TextBox("codigo_comercio", (string)ViewBag.codigo_comercio)
<button id="botonPagar">Pagar</button>

<!-- Abre el checkout Culqi -->
<script type="text/javascript">
    $('#botonPagar').on('click', function(e){
        Culqi.abrir();
        e.preventDefault();
    });
</script>
<!---->
<!-- Asigna el código del comercio -->
<script>
    Culqi.codigoComercio = '6Xb9O1C2yFhd';
</script>
<!---->
<!-- Configuración del contenido del checkout Culqi -->
<script>
    Culqi.configurar({
        nombre: 'Comercio Nano 2',
        orden: 'Prueba0009',
        moneda: 'PEN',
        descripcion: 'Venta',
        monto: 100,
        guardar: false
    });
</script>
<!---->
<!-- Obtenemos el token de la tarjeta -->
<script>
// Recibimos Token del Culqi.js
function culqi() {

    if (Culqi.token) {
      // Imprimir Token
      console.log(Culqi.token.id);
    }
    else{
      // Hubo un problema...
      // Mostramos JSON de objeto error en consola
      console.log(Culqi.error);
      alert("Culqi.error.mensaje");
    }

};
</script>
<script>
// Ejemplo: Tratando respuesta con AJAX (jQuery)
function culqi() {

    $.ajax({
        url: "@Url.Action("NuevaVenta")",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({

            'token'               : Culqi.token.id,
            'moneda'              : 'PEN',
            'monto'               : '100',
            'descripcion'         : 'Venta de prueba',
            'pedido'              : 'Prueba0009',
            'codigo_pais'         : 'PE',
            'ciudad'              : 'Lima',
            'usuario'             : 'Usuario de Prueba',
            'direccion'           : 'Av. Arequipa 123',
            'telefono'            : '987654321',
            'nombres'             : 'Luis',
            'apellidos'           : 'Gonzales',
            'correo_electronico'  : 'lgonzales@me.com'

        }),
        success: function(data){

        },
        error:function( ){

        }
     });
};
</script>
<!---->