
@{
    ViewBag.Title = "NuevaSuscripcion";
}

<h2>NuevaSuscripcion</h2>

@Html.TextBox("codigo_comercio", (string)ViewBag.codigo_comercio)
<button id="botonPagar">Pagar</button>

<!-- Abre el checkout Culqi -->
<script type="text/javascript">
    $('#botonPagar').on('click', function(e){
        Culqi.abrir();
        e.preventDefault();
    });
</script>
<!---->
<!-- Asigna el código del comercio -->
<script>
    Culqi.codigoComercio = 'v2JdOBEqI1XL';
</script>
<!---->
<!-- Configuración del contenido del checkout Culqi -->
<script>
    Culqi.configurar({
        nombre: 'Comercio Prueba .Net',
        orden: 'ABC0001',
        moneda: 'PEN',
        descripcion: 'Venta',
        monto: 100,
        guardar: true
    });
</script>
<!---->
<!-- Obtenemos el token de la tarjeta -->
<script>
// Recibimos Token del Culqi.js
function culqi() {

    if (Culqi.token) {
      // Imprimir Token
      console.log(Culqi.token.id);
    }
    else{
      // Hubo un problema...
      // Mostramos JSON de objeto error en consola
      console.log(Culqi.error);
      alert("Culqi.error.mensaje");
    }

};
</script>
<script>
// Ejemplo: Tratando respuesta con AJAX (jQuery)
function culqi() {

    $.ajax({
        url: "@Url.Action("NuevaSuscripcion")",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({

            'codigo_comercio'       : Culqi.codigoComercio,
            'codigo_pais'           : 'PE',
            'direccion'             : 'Av. Arequipa 123',
            'ciudad'                : 'Lima',
            'telefono'              : '987654321',
            'nombre'                : 'Luis',
            'correo_electronico'    : 'lgonzales@me.com',
            'apellido'              : 'Gonzales',
            'usuarioId'             : 'Usuario de Prueba',
            'plan_id'               : 'plan_prueba_001',
            'token'                 : Culqi.token.id,

        }),
        success: function(data){

        },
        error:function( ){

        }
     });
};
</script>
<!---->