
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li><a href="@Url.Action("NuevoToken", "Token")">Tokens</a></li>
<li><a href="@Url.Action("NuevaVenta", "Venta")">Ventas</a></li>
<li><a href="@Url.Action("NuevaSuscripcion", "Suscripcion")">Suscripciones</a></li>

